#uno{
    height: 550px;
    background: teal;
    border-radius: 10px;
}
#form1{
    height: auto;
    width: 330px;
    margin: auto;
    padding-top: 80px;
    
   
}
#recipient-name{
    height: auto;
    width: 470px;
}
#form2{
    height: auto;
    width: auto;
    margin: auto;
}
